.reservations-container {
	padding: 20px;

	h2 {
		margin-top: 0;
	}

	.filters {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;

		mat-form-field {
			width: 200px;
		}

		.wide-btn {
			min-width: 200px;
			padding: 0 16px;
			margin: 10px 0 0 20px;

			width: 120px;
			justify-content: center;

			mat-icon {
				margin-right: 4px;
			}
		}
	}

	mat-card {
		padding: 0;
		overflow: hidden;
	}

	table {
		width: 100%;
	}

	.custom-header {
		font-size: large;
		text-align: center;
		width: 250px;
		background-color: #0078d4;
		color: white;
	}
}
